<%= render partial: 'layouts/header', locals: { h_title: 'CATEGORIES', h_back: false, h_submit: false } %>
<div class="box__main">
  <%= render partial: 'layouts/message' %>
  <% if @categories.count > 0 %>
    <ul class="list">
    <%= render partial: 'category_card', collection: @categories, as: :category %>
    </ul>
  <% else %>
    <%= tag.p 'There are no registered categories yet.' %>
  <% end %>
</div>
<div class="box__crud">
  <div class="link__btn-box">
    <%= link_to 'NEW CATEGORY', new_category_path, class: 'link' %>
  </div>
</div>